*{
    margin: 0; padding: 0;
    box-sizing: border-box;

}
html,body {
    width: 100%;
    height: 100vh;
}
.padre{
    
    display: grid;
    grid-template-areas: 
    "miheader"
    "conocenos"
    "novedades"
    "mifooter"
    ;
    
    grid-template-columns: auto;
    grid-template-rows: 80px 1fr 1fr 60px;
    grid-row-gap: 15px ;
    grid-column-gap:15px ;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    
}

.padre {
    background-color: cadetblue;
}


.navegacion {
list-style: none;
background-color: aliceblue;
}

.navegacion ul li {
    display: inline-block;
}

.navegacion ul li a {
    display: block;
    padding: 10px 20px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}
  
header {
background-color:deepskyblue;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
border-style: groove;  
list-style: none;

}

header nav li a {
color: black;
list-style: none;
box-sizing: border-box;
text-decoration: none !important;
display: block;


}

header img {
    width: 300px;
}

 nav li a:hover {
    background-color: aquamarine;
    color:darkkhaki;
    list-style: none;
    text-decoration: none !important;
    
    
}


.container-lg {
    text-align: center;
    background-color:cadetblue;
    font-family:Arial, Helvetica, sans-serif;
}
footer p  {
    background-color: darkgray;
    font-size: 20px;
   
    
}
footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    box-sizing: border-box;
    text-align: center;
}

.mifooter {
text-align: center;
position: fixed;
bottom: 0;
width: 100%;
}


.container-lg img {
border-radius: 30%;
animation-name: animacion;
animation-duration:8s;
padding: 5px;
}

section#formulario {
    color:black;
    margin: 0;
    width: 400px;
    background-color:dodgerblue;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: 0;
    font-size: 15px;

}
section#formulario input {
    padding: 5px;
    border-color: cadetblue;

}
section#formulario:hover {
color: white;
}

@keyframes animacion {
 0%{
    transform: scale(1)
}
25%{
    transform: scale(0.5)
}
50%{
    transform: scale(1.1)
}

100%{
    transform: scale(1)
}
}


p {
    font-size: 20;
    color: black;

}

footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    
}
h1 {
    color:cornflowerblue;
}

h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.menu {
    position: relative;
}

.contacto p {
    background-color: cadetblue;
    
}

.horarios {
    background-color: cadetblue;
}

.horarios li a {
    font-size: 20px;
}

.toogle-menu {
    width: 40px;
    position: absolute;   
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    filter: invert(1);
   
}



img {
    max-width: 100%;
}



@media screen and (min-width: 300px) and (max-width: 760px) {

.toogle-menu {
 width: 40px;
 position:fixed;   
 top: 1rem;
 right: 1rem;
 cursor: pointer;
 filter: invert(1);
 display: block;
 cursor: pointer;


}    



h1 {
    color: burlywood;
} 

.header {
    background-color:darkslategrey;
     font-family: fantasy;
}

.container img {
    width: 100%;
}

.container {
    background-color:cornflowerblue;
}

header nav ul {
    display: block;
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    height: 100vh;
    right: 0;
}

.header nav ul li {
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0;
}

.header nav ul li:last-child {
    background: none;
}

#check:checked ~ ul {
    left: 0;
}

header nav ul li a {
    display: block;
    padding: 10px;
   
}

header nav ul li a:hover {
    color: black;
}

footer h1 p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.padre {
    background-color: darkcyan;
    
}

.padre img {
    background-color: darkcyan;
    width: 100%;
    
}

.container-lg {
    background-color:cornflowerblue;
}
.container-lg img {
    width: 100%;
}

.horarios {
    background-color: cadetblue;
}

.horarios li a {
    font-size: 20px;
}
    
}

@media screen and (min-width: 760px) and (max-width: 1020px){

.toogle-menu {
    width: 40px;
    position:fixed;   
     top: 1rem;
     right: 1rem;
    cursor: pointer;
    filter: invert(1);
    display: block;
    cursor: pointer;
       
}    


header nav ul {
    display: block;
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    height: 100vh;
    right: 0;
}

.header nav ul li {
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0;
}

.header nav ul li:last-child {
    background: none;
}


.container img {
    width: 100%;
}

.container {
    background-color:cadetblue;
}

footer h1 p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

h1 {
    background-color: black;
} 

.padre {
    background-color: darkcyan;
    
}

.padre img {
    background-color: darkcyan;
    width: 100%;
    
}
.navegacion {
    
}

.container-lg {
    background-color:coral;
}

.container-lg img {
    width: 100%;
}

.horarios {
    background-color: cadetblue;
}

.horarios li a {
    font-size: 20px;
}



}

@media screen and (min-width: 1021px) {
    .toogle-menu {
        display: none;
    }
}
 
