*{
    margin: 0; padding: 0;
    box-sizing: border-box;

}
html,body {
    width: 100%;
    height: 100vh;
}
.navegacion {
list-style: none;
background-color: aliceblue;

}
.navegacion ul li {
    display: inline-block;
}
.navegacion ul li a {
    display: block;
    padding: 10px 20px;

}
  

header {
    background-color:deepskyblue;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     border-style: groove;
     
}
header nav li a {
color: black;
list-style: none;
}

a:hover {
    background-color:darkkhaki;
}

.container {
    text-align: center;
    background-color:cadetblue;
    font-family:Arial, Helvetica, sans-serif;
}
footer p  {
    background-color: darkgray;
    font-size: 20px;
}
footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.container img {
border-radius: 30%;
animation-name: animacion;
animation-duration:8s;
}

section#formulario {
    color:black;
    margin: 0 auto;
    width: 400px;
    background-color:dodgerblue;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: 0;
    font-size: 15px;

}
section#formulario input {
    padding: 5px;
    border-color: cadetblue;

}
section#formulario:hover {
color: white;
}

@keyframes animacion {
 0%{
    transform: scale(1)
}
25%{
    transform: scale(0.5)
}
50%{
    transform: scale(1.1)
}

100%{
    transform: scale(1)
}
}


p{
    background-color:beige;
    font-size: 20 }

footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
h1 {
    color:cornflowerblue;
}




@media screen and (min-width: 300px) and (max-width: 760px) {

h1 {
    background-color: black;
} 
.header {
        background-color:darkslategrey;
     font-family: fantasy;
     }
.container img {
    width: 100%;
}
.container {
    background-color:darkseagreen;
}
header nav ul li{
    display: inline-block;
    color: aliceblue;

}
header nav ul li a {
    display: block;
    padding: 10px;
    color: aliceblue;
}
header nav ul li a:hover {
    color: black;
}
footer h1 p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
    
}

@media screen and (min-width: 760px) and (max-width: 1020px){
    .container img {
        width: 100%;
    }
.container {
    background-color:cadetblue;
}
footer h1 p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
h1 {
    background-color: black;
} 

}
 
