* {
    margin: 0;
    padding: 0;
}
@import "body";
@import "header";
@import "footer";
@import "mixin";

.navegacion {
    list-style: none;
    background-color: aliceblue;

    & ul li {
    display: inline-block;
        
    }
    display: block;
    & ul li a {
    padding: 10px 20px;
    }
}

header {
    background-color:deepskyblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: groove;  
    
    & nav li a {
    color: black;
    list-style: none;
    }
}

.container-lg {
    background-color:coral;

 &.container-lg img {
    width: 100%;
}
}

footer p  {
    background-color: darkgray;
    font-size: 20px;
    margin-top: auto;
    

&footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    box-sizing: border-box;
}
}

.horarios  {
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  
&.horarios li a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}
  
&.horarios p {
    color: blue;
    text-decoration:underline;
    padding: 2px;
    margin: 2px;
}
}

section#formulario {
    color:black;
    margin: 0;
    width: 100%;
    background-image: url(img/cataflora.jpg);
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: 0;
    font-size: 20px;
    text-align: center;



&section#formulario input {
    padding: 5px;
    border-color: cadetblue;

}

&section#formulario:hover {
color:cornflowerblue;
}
}





